<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta name="description" content="广工光电技术实验教学示范中心">
	<meta name="keywords" content="广东工业大学，物理与光电工程学院,光电技术实验,教学">
	<title>光电技术示范中心后台登陆界面</title>
	<link rel="stylesheet" href="__PUBLIC__/css/bootstrap.css">
	<link rel="stylesheet" href="__PUBLIC__/admin/css/index.css">
	<script src="__PUBLIC__/js/jQuery.js"></script>
	<script src="__PUBLIC__/js/bootstrap.min.js"></script>
</head>
<body>
	<header class="header">
		<img src="__PUBLIC__/img/banner.jpg" alt="">
	</header>
	<div class="nav_con navbar navbar-default">
		<ul class="nav navbar-nav">
			<li class="nav_item active">
				<a class="nav_link dropdown" data-toggle="dropdown" href="">网站首页</a>
				<ul class="dropdown-menu">
					<li class="list"></li>
				</ul>
			</li>
			<li class="nav_item dropdown">
				<a class="nav_link dropdown" data-toggle="dropdown" href="">教学队伍</a>
				<ul class="dropdown-menu">
					<li class="list"></li>
				</ul>
			</li>
			<li class="nav_item dropdown">
				<a class="nav_link dropdown" data-toggle="dropdown" href="">教研改革</a>
				<ul class="dropdown-menu">
					<li class="list"></li>
				</ul>
			</li>
			<li class="nav_item dropdown">
				<a class="nav_link dropdown" data-toggle="dropdown" href="">课程教学</a>
				<ul class="dropdown-menu">
					<li class="list"></li>
				</ul>
			</li>
			<li class="nav_item dropdown">
				<a class="nav_link dropdown" data-toggle="dropdown" href="">方法手段</a>
				<ul class="dropdown-menu">
					<li class="list"></li>
				</ul>
			</li>
			<li class="nav_item dropdown">
				<a class="nav_link dropdown" data-toggle="dropdown" href="">教学条件</a>
				<ul class="dropdown-menu">
					<li class="list"></li>
				</ul>
			</li>
			<li class="nav_item dropdown">
				<a class="nav_link dropdown" data-toggle="dropdown" href="">教学效果</a>
				<ul class="dropdown-menu">
					<li class="list"></li>
				</ul>
			</li>
			<li class="nav_item dropdown">
				<a class="nav_link dropdown" data-toggle="dropdown" href="">创新教育</a>
				<ul class="dropdown-menu">
					<li class="list"></li>
				</ul>
			</li>
			<li class="nav_item dropdown">
				<a class="nav_link dropdown" data-toggle="dropdown" href="">教学录像</a>
				<ul class="dropdown-menu">
					<li class="list"></li>
				</ul>
			</li>
		</ul>
	</div>
	<div class="container">
		<div class="row">
			
		</div>
	</div>
	<footer class="footer">
		IP:0000000
	</footer>

</body>
</html>